/* header nav .navlink{
    text-align: center; 
} */

/* a{
    color: #004cbd;
} */

.w-15{
    /* min-width: 15%; */
    max-height: 60px;
    /* aspect-ratio: 1 auto; */
}


#dark-mode-toggle{
    display: inline;
    background-image: url("../img/5261906.png");
    background-size: contain;
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
}

.img-banner{
    max-height: 600px;
    width: 100%;
    min-width: 200px;
}

/* .banner-block{
    max-width: 49%;
} */