.w-15 {
    max-height: 60px;
}

a,p,.nav-link, li {
    font-size: 18px;
}

.navbar-brand {
    font-size: 22px;
}

.nav-link{
    display: inline;
    line-height: 45px;
}

#dark-mode-toggle {
    display: inline;
    background-image: url("../img/5261906.png");
    background-size: contain;
    background-color: transparent;
    width: 45px;
    height: 45px;
    border: 0;
}

.navbar-nav {
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}

.container-fluid{
    max-width: 1950px;
}

@media (min-width: 1200px){
.px-lg-8 {
    padding-right: 6rem!important;
    padding-left: 6em!important;
}}

.nav-link {
    width: fit-content;
}

.img-banner {
    width: 100%;
    min-width: 250px;
}
